* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 18px;
}

:root {
  /* ### Primary */

  --Pink: hsl(322, 100%, 66%);

  /* ### Neutral */

  --Very-Pale-Cyan: hsl(193, 100%, 96%);
  --Very-Dark-Cyan: hsl(192, 100%, 9%);
  --Grayish-Blue: hsl(208, 11%, 55%);

  /* Typography */

  --Poppins: "Poppins", sans-serif;
  --Open: "Open Sans", sans-serif;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

html {
  height: 100%;
}

/* Body */

body {
  height: 100vh;
}

.page-container {
  padding: 1.1rem;
  position: relative;
}

/* HEADER */

header {
  width: 100%;
  background: url(./images/bg-hero-mobile.svg);
  background-color: var(--Very-Pale-Cyan);
  background-position: top center;
  background-size: cover;
  background-attachment: local;
  background-repeat: no-repeat;
  padding: 1rem;
  display: flex;
  flex-direction: column;
}

.top-bar {
  margin: 0.5rem 0;
  margin-bottom: 2.5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  align-content: center;
}

.box__logo {
  width: 65%;
}

.logo {
  width: 45%;
}

.logo__btn {
  background: #fff;
  width: 38%;
  font-size: 0.8em;
  font-weight: 600;
  border: none;
  padding: 0.5rem 0.3rem;
  border-radius: 1rem;
  box-shadow: 0 0 0.4rem #c6ccd2;
  cursor: pointer;
}

.logo__btn:hover {
  color: #0000007a;
}

.header__tittle {
  text-align: center;
}

.header__tittle-h2 {
  font-family: var(--Poppins);
  font-size: 1.4em;
  margin-top: 2rem;
}

.header__tittle-paragraph {
  font-family: var(--Open);
  margin: 1.8rem 0;
}

.header__tittle-btn,
.card-btn {
  padding: 0.8rem 2.8rem;
  font-size: 0.8em;
  font-weight: 700;
  border: none;
  border-radius: 2rem;
  background: var(--Pink);
  color: #fff;
  margin-bottom: 3rem;
  cursor: pointer;
}

.header__tittle-btn:hover,
.card-btn:hover {
  background-color: rgb(255, 147, 215);
}

.header__box {
  margin: 1rem 0;
}

/* MAIN */

.content {
  font-family: var(--Open);
  font-size: 5em;
}

.content__info {
  width: 100%;
  text-align: center;
}

/* Card */

.content__info-card {
  height: max-content;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  flex-wrap: wrap;
  margin: 2.5rem auto;
  padding: 2rem;
  border-radius: 1rem;
  box-shadow: 0 0 0.8rem #c6ccd276;
}

.pic {
  width: 90%;
}

.card-info {
  margin: auto 1.3rem;
}

.card-tittle {
  font-size: 1.15em;
  margin-top: 1.5rem;
}

.card-content {
  font-size: 0.8em;
  margin: 1.5rem 0;
  opacity: 0.45;
}

.register-btn {
  position: relative;
  bottom: -5rem;
  z-index: 100;
  background: #fff;
  margin: auto 0;
  padding: 1.8rem 0;
  height: auto;
}

.register-btn .card-tittle {
  margin: auto;
  margin-bottom: 1.5rem;
  font-size: 0.9em;
}

.card-btn {
  margin-bottom: 0;
}

/* FOOTER */

.foot__main {
  font-family: var(--Open);
  background: var(--Very-Dark-Cyan);
  padding: 1rem 1rem;
  padding-top: 8rem;
}

.foot__main-logo {
  filter: invert(100%) sepia(0%) saturate(1%) hue-rotate(14deg) brightness(105%)
    contrast(101%);
}

.foot-logo {
  width: 40%;
}

.foot__main-info {
  color: #fff;
}

.main-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 1rem 0;
}

.location .icon {
  align-self: flex-start;
  margin-top: 0.3rem;
}

.icon {
  margin-right: 0.9rem;
}

.info {
  font-size: 0.85em;
}

.foot__contact-links {
  color: #fff;
  display: flex;
  flex-direction: column;
}

.link {
  font-size: 0.9em;
  margin: 0.5rem 0;
  cursor: pointer;
}

.link:hover {
  text-decoration: underline;
}

/* Social */

.social {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 1rem 0;
}

.social__btn {
  width: 2.5rem;
  margin: 0.5rem;
  border: 0.14rem solid #c6ccd2;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
  border-radius: 100%;
  cursor: pointer;
  color: #fff;
}

.social__btn-icon {
  font-size: 1.1rem;
}

.social__btn:hover {
  border-color: #ff93d7;
  color: #ff93d7;
}

.copyright-box {
  text-align: center;
  color: #fff;
  font-size: 0.8em;
}

/*  */
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media screen and (min-width: 750px) {
  * {
    font-size: 1.15rem;
  }

  .logo__btn {
    width: 25%;
  }

  .content__info {
    text-align: left;
  }

  .content__info-card {
    flex-direction: row;
    flex-wrap: nowrap;
  }

  .content__info-card:nth-child(odd) {
    flex-direction: row-reverse;
  }

  .register-btn {
    height: auto;
    margin: auto;
    width: 70%;
    flex-direction: column;
  }

  .card-pic {
    width: 40%;
  }

  .card-info {
    width: 70%;
    margin: auto 2.2rem;
  }

  .foot__main-info {
    width: 65%;
  }

  .foot__contact-links {
    flex-direction: row;
    justify-content: space-around;
  }
}

@media screen and (min-width: 1024px) {
  header {
    background-image: url("./images/bg-hero-desktop.svg");
  }

  .register-btn {
    width: 60%;
  }

  .foot__main {
    position: relative;
    display: grid;
    grid-template-columns: 2fr 1.5fr 1fr;
    grid-template-rows: 30% 1fr;
    align-items: flex-start;
  }

  .foot__main-logo {
    grid-column: 1 / 4;
  }

  .foot__main-info {
    width: 90%;
  }

  .location {
    margin-top: 0;
  }

  .foot__contact-links {
    flex-wrap: wrap;
  }

  .link {
    flex-grow: 1;
    width: 50%;
  }

  .social {
    margin-left: 1rem;
  }

  .copyright-box {
    position: absolute;
    right: 0.5rem;
    bottom: 0.5rem;
  }
}

@media screen and (min-width: 1200px) {
  .logo__btn {
    width: 15%;
  }
  .header__tittle {
    display: flex;
    flex-direction: row;
    text-align: left;
    padding: 2rem;
  }

  .header__box:nth-child(1) {
    width: 40%;
  }

  .content__info-card {
    width: 80%;
  }

  .register-btn {
    width: 35%;
  }

  .foot-logo {
    width: 15%;
    margin-bottom: 3rem;
  }

  .foot__main {
    grid-template-columns: 1.2fr 1fr 1fr;
  }

  .social {
    align-items: flex-start;
    justify-content: flex-start;
    margin: 0 1rem;
  }
}
